@import "path/to/font-awesome/less/font-awesome.less";

/* Removing default margin and padding from body */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

/* styling navbar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10rem;
}

.navbar {
    display: flex;
}

.navbar > a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;

}

.navbar > a:hover:not(.active) {
    color: red;
}

.navbar > .active {
    color: red;
}

.home>a {
    text-transform: none;
    font-size: 22px;
}

.home>a::first-letter {
    color: red;
}

/* styling first home section */
.home-bg {
    background-image: url("assets/slider/1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 70vh;
    width: 100%;
}

.slider-btns {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 8px;
}

/* styling radio buttons */
input[type="radio"] {
    /* ...existing styles */
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em red;
}

input[type="radio"]:checked::before {
    background-color: black;
    transform: scale(1);
}

/* styling services section */
.services-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 1.5rem;
}

.head-large{
    font-size: 22px;
}

.services-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 12rem;
}

.individual-icon{
    border-radius: 50%;
    width: 4.5rem;
    height: 3rem;
    text-align: center;
    color: white;
    padding-top: 1rem;
    background-color: red;
}

.icon-headers{
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

.services-main-feature{
    margin-top: 4rem;
}

.services-main-feature-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-main-feature-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.services-main-feature-content-one{
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
}

.services-main-feature-content-two{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    padding: 0 2rem;
}

.services-icon-content{
    display: flex;
    gap: 8px;
}

.services-main-feature-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* styling blog section */
#blog{
    margin-top: 4rem;
    background-color: red;
    color: white;
}

.blog-container{
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.blog-buttons{
    margin-top: 1rem;
}

input[type="button"]{
    background-color: white;
    color: black;
    border: none;
    padding: 16px 18px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 22px;
}

/* styling portfolio section */
#portfolio{
    margin: 4rem 0;
}

.portfolio-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.portfolio-main-content{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    gap: 1rem;
}

.portfolio-image-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.portfolio-image{
    border-radius: 24px;
    width: 8rem;
    height: 8rem;
}

.portfolio-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
}

/* contact section styling */
#contact{
    background-color: rgba(0, 0, 0, 0.811);
    color: white;
    margin-top: 4rem;
}

.contact-container{
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 4rem 2rem;
}

.multi-header-description-col{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
}

.multi-description{
    line-height: 2;
    max-width: 25rem;
}

.social-media-icons{
    display: flex;
    align-items: center;
    gap: 12px;
}

.social-icon{
    border-radius: 50%;
    width: 2.5rem;
    height: 1.5rem;
    text-align: center;
    color: white;
    padding-top: 10px;
    background-color: black;
    cursor: pointer;
}

.recent-posts-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.recent-posts-container{
    display: flex;
    flex-direction: column;
}

.recent-post{
    min-width: 15rem;
}

.recent-post > a {
    color: white;
    text-decoration: none;
}

.horizontal-line{
    border-top: 2px solid white;
    margin: 2rem 0;
    width: 25rem;
}

.contact-info-col{
    display: flex;
    flex-direction: column;
}

.contact-info-header{
    margin-bottom: 2rem;
}

.contact-info-icon-description{
    display: flex;
    gap: 8px;
}

.contact-info-description{
    max-width: 22rem;
}

/* styling footer */
footer{
    background-color: black;
    color: white;
}
.footer-container{
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer-nav li{
    float: left;
}

.footer-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }