@import "path/to/font-awesome/less/font-awesome.less";

/* Removing default margin and padding from body */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

/* styling navbar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10rem;
}

.navbar {
    display: flex;
}

a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;

}

a:hover:not(.active) {
    color: red;
}

.active {
    color: red;
}

.home>a {
    text-transform: none;
    font-size: 22px;
}

.home>a::first-letter {
    color: red;
}

/* styling first home section */
.home-bg {
    background-image: url("assets/slider/1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 70vh;
    width: 100%;
}

.slider-btns {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 8px;
}

/* styling radio buttons */
input[type="radio"] {
    /* ...existing styles */
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em red;
}

input[type="radio"]:checked::before {
    background-color: black;
    transform: scale(1);
}

/* styling services section */
.services-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 1.5rem;
}

.head-large{
    font-size: 22px;
}

.services-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 12rem;
}

.individual-icon{
    border-radius: 50%;
    width: 4.5rem;
    height: 3rem;
    text-align: center;
    color: white;
    padding-top: 1rem;
    background-color: red;
}

.icon-headers{
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

.services-main-feature{
    margin-top: 4rem;
}

.services-main-feature-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-main-feature-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.services-main-feature-img{
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
}